{% extends 'base.html.twig' %}
{% block title %}Biblioteca{% endblock %}
{% block body %}
<h1>Biblioteca Personal JcPicot</h1>
<p>Pàgina d'inici</p>
<p>Projecte Symfony 2n DAW</p>
<p>Curs 20/21</p>
<ul>
{% for l in llibre %}
       <a href ="{{ path('fitxa_llibre', {'isbn': l.isbn}) }}"><li>{{ l.titol }}</li></a>
       <a href="{{ path('editar_llibre', {'isbn': l.isbn}) }}"><img height="20" width="20" src="{{ asset('imgs/lapiz.png') }}"></a>
    {% endfor %}
</ul>
<img id="imatge" src="{{ asset('imgs/llibre.png') }}">
{% endblock %}
